<strong>
  Olá, {{organizer}}
</strong>
<p>Houve uma nova inscrição no meetup {{meetupTitle}}. Confira os detalhes abaixo:</p>
<p>
  <strong>Cliente: </strong>{{userName}} <br />
  <strong>Data/hora: </strong>{{date}} <br />
  <br />
  <small>
    Parabéns, de o seu melhor a cada meetup e continue fazendo um bom trabalho.
  </small>
</p>
